*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    font-family: Arial, sans-serif;
}
.header{
    background-color: red;
    color: white;
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
}

.menu{
    top: 0;
    width: 100%;
    background-color: white;
    position: sticky;
    z-index: 1000;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.menu .nav{
    display: flex;
    list-style-type: none;
    align-items: center;
    height: 100px;
    justify-content: center;
}
.nav li{
    position: relative;
}
.nav li a{
    text-decoration: none;
    color: black;
    line-height: 30px;
    padding: 0px 15px;
    text-transform: uppercase;
    transition: color 0.3s;
}
.nav>li:hover{
    background-color: white;
}
.nav>li:hover>a{
    color: rgb(1, 175, 1);
}
.subnav li:hover{
    background-color: white;
}
.subnav li a{
    color: black;
}
.subnav li:hover>a{
    color: rgb(1, 175, 1);
}
.nav .subnav{
    list-style-type: none;
    position: absolute;
    background-color: white;
    display: none;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.5);
}
.nav >li:hover .subnav{
    display: block;
}
.gh{
    border: black solid 1px;
    color: black;
    border-color: black;
    border-radius: 3px;
    transition-duration: 1s;
    display: block;
    padding: 3px;
}
.gh:hover{
    background-color: black;
    color: white;

}
.slider{
    position: relative;
    display: block;
    padding-top: calc((768/1440)*100%);
    background: url("./Screenshot\ \(17\).png") top center / cover no-repeat;
    z-index: -1;
}
.bst{
    margin: 10px 10px 10px 70px;
}

.product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    gap: 40px;
    margin: 0 auto 60px;
    padding: 0;
}
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 270px;
    text-align: center;
    padding: 15px;
}
.product-card:hover{
    transform: translateY(-5px);
}
.product-card img {
    width: 100%;
    border-radius: 8px;
}
.product-card h3 {
    font-size: 16px;
    margin: 10px 0;
}
.product-card p {
    font-size: 14px;
    color: #666;
}
.product-card .price {
    font-weight: bold;
    color: #333;
}
.product-card .sale {
    color: red;
    font-weight: bold;
}
.button {
    background-color: white;
    color: black;
    padding: 10px 15px;
    border: black solid 1px;
    border-radius: 5px;
    cursor: pointer;
    transition-duration: 1s;
}
.button:hover {
    background-color: black;
    color: white;
}

.end{
    padding: 50px;
    display: flex;
    justify-content: space-between;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.end a{
    display: flex;
    color: black;
    text-decoration: none;
}
.end a:hover{
    color: rgb(20, 143, 20);
}

.facebook{
    border: #ddd solid 1px;
    color: black;
    background: white;
    border-radius: 3px;
    transition-duration: 1s;
    display: block;
    padding: 3px;
    
}
.facebook:hover{
    background: black;
    color: white;
}
.ig{
    border: #ddd solid 1px;
    color: black;
    background: white;
    border-radius: 3px;
    transition-duration: 1s;
    display: block;
    padding: 3px;
}
.ig:hover{
    background: black;
    color: white;
}
.spe{
    border: #ddd solid 1px;
    color: black;
    background: white;
    border-radius: 3px;
    transition-duration: 1s;
    display: block;
    padding: 3px;
}
.spe:hover{
    background-color: black;
    color: white;
}
.footer {
    padding: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.footer p{
    display: flex;
    justify-content: center;
    align-items: center;
}

