/* .admin-container table {
    width: 100%;
    border-collapse: collapse;
}

.admin-container th, 
.admin-container td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.admin-container th {
    background-color: #f5f5f5;
} */

.delete-btn {
    padding: 5px 10px;
    background-color: #e74c3c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.delete-btn:hover {
    background-color: #c0392b;
}