.admin-container h2{
    margin: 40px;
    text-align: center;
}
.dashboard {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin: 30px 150px;
}

.card {
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    min-width: 200px;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    justify-content: center;
}

.card-icon {
    font-size: 36px;
    margin-right: 15px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.card-icon.revenue { background-color: #4e8cff; }
.card-icon.orders { background-color: #2ecc71; }
.card-icon.customers { background-color: #f39c12; }

.card-info .card-title {
    font-size: 14px;
    color: #888;
    margin: 0;
}

.card-info h2 {
    margin: 5px 0;
    font-size: 24px;
}

.card-info .card-change {
    font-size: 12px;
    color: #2ecc71;
}
